<div class="container" style="width: 50%;">
  <div class="text-center m-4">
    <h2>New List</h2>
  </div>
  <%= simple_form_for [@list] do |f| %>
    <%= f.input :name %>
    <div class="container d-flex justify-content-center">
      <%= f.submit "Submit", class: "btn btn-outline-secondary mt-3" %>
    </div>
  <% end %>
</div>
